* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Nultien Bold';
    src: url('fonts/Nultien-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    /* Este es el fondo oscuro del sitio web */
    background-color: #030304;
    color: #d7d7d8;
    font-family: 'Lalo', sans-serif;
}



p {
    width: 70%;
    text-align: center;
    font-size: 3rem;
    font-family: 'Lato', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}





.hero-container {

    margin-bottom: 20rem;
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    justify-content: center;
    align-content: center;
}

.img-hero__container {
    width: 100%;
    max-width: 981px;
    height: 100vh;

}


.img-hero {
    mask-image: linear-gradient(to bottom, #00000000 17%,
            /* Arriba: transparente (invisible) */
            #000000 41%,
            /* Inicio del área visible */
            #00000000 90%,
            /* Fin del área visible */
            #00000000 100%
            /* Abajo: transparente (invisible) */
        );
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Este contenedor es un 'lienzo' para las formas de fondo */
.aurora-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    /* Detrás del contenido */
}

/* Esta es la clase base para TODAS las formas */
.shape {
    position: absolute;

    /* Usar círculos u óvalos es lo más sencillo */
    border-radius: 50%;

    /* La opacidad ayuda a que los colores se mezclen bien */
    opacity: 0.6;
}


/* * AHORA TRADUCIMOS LAS CAPAS DEL DIAGRAMA
     * (Ajusté las posiciones y tamaños para que se parezca 
     * más al efecto de "reloj de arena" de tu imagen)
    */

/* Capa 1: El blur más grande (166px) */
.shape-1 {
    background: #21004d;
    width: 99vw;
    height: 200px;
    top: -132px;
    left: calc(-9px);
    opacity: 0.8;
    filter: blur(24px);

}

/* Capa 2: El blur medio (35px) */
.shape-2 {
    background: #ab02ff;
    width: 50vw;
    top: -187px;
    height: 300px;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(35px);
    opacity: 0.7;
}

/* Capa 3: El blur más pequeño (24px) */
.shape-3 {
    background: #7002b342;
    width: 40vw;
    height: 316px;
    top: 192px;
    left: -31%;
    right: 0;
    opacity: 0.8;
    filter: blur(24px);
}


/* Contenido de ejemplo (como el "Comprehensive Payment...") */


.content {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
    text-align: center;
}

h1 {
    font-family: Nultien Bold, sans-serif;
    color: #a56fff;
    font-size: 7rem;
    text-align: center;
}


@media (min-width: 600px) and (max-width: 1000px) {
    h1 {
        font-size: 6rem;
    }
}


@media (min-width: 1001px) {
    h1 {
        font-size: 3.5rem;
    }
}



.title-hero__container {
    gap: .2rem;
    display: flex;
    position: relative;
    bottom: 20rem;
    width: 88%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1000px) {
    .title-hero__container {
        bottom: 10rem;
    }

}


.title-hero__container :last-child {
    color: #a56fff;
}

.content h1 {
    text-shadow: -1px 1px 11px #ffffff69;
    letter-spacing: 3px;
    margin: 0;
    font-family: Nultien Bold, sans-serif;
    color: #eddfff;
    font-weight: lighter;
}


.section-capturebcv {
    margin-bottom: 9rem;
    position: relative;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    display: grid;
    place-items: center;
}



.tasa-bcv {
    text-align: center;
    backdrop-filter: blur(58px);
    width: 90%;
    /* max-width: 516px; */
    background: #0c0b0c;
    border: 1.5px solid #2a2a2a;
    margin: 0 auto;
    padding: 1.45rem;
    border-radius: 10px;
    box-shadow: 0 0 35px 25px #10031f36;
}

.tasa-bcv b {
    font-size: 2rem;
}

.tasa-bcv b:first-child {
    color: #ad9bff;
}


@media (min-width: 600px) and (max-width: 1000px) {

    p,
    .tasa-bcv b,
    form {
        font-size: 2rem;
    }
}

@media (min-width: 1001px) {

    p,
    .tasa-bcv b,
    form {
        font-size: 1.4rem;
    }
}



/* Estilos por defecto (móvil primero): Todo en una sola columna */
form {
    width: 90%;
    margin-bottom: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 28px;
    background-color: #0c0c0ccc;
    padding: 50px;
    border: 1.5px solid #2a2a2a;
    border-radius: 10px;
    box-shadow: 0 0 35px 25px #10031f36;
    backdrop-filter: blur(58px);

}

label {
    margin-bottom: 15px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input,
button,
select {
    padding: 20px;
    width: 100%;
    border: 1.5px solid #7000ff63;
    background-color: #6f00ff0a;
    border-radius: 10px;
    font-size: 2.27rem;
    color: #d7d7d8;
    transition: background-color 0.3s;
}

form p {
    color: #ac9afd;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

button {
    margin-top: .8rem;
    background-color: #6709ff;
    border: none;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 2rem;
    font-family: Lalo, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* MEDIA QUERY: Aplica estilos de dos columnas solo a partir de 1200px */
@media (min-width: 1020px) {
    form {
        display: grid;
        /* Crea dos columnas de igual tamaño (1fr) */
        grid-template-columns: 1fr 1fr;
        /* Espacio entre las columnas y las filas */
        gap: 30px;
    }

    input, select, button {
        font-size: 1.30rem;
                padding: 15px;
    }
    /* Asegura que el botón de envío ocupe las dos columnas */
    button {
        grid-column: span 2;
        /* Indica que este elemento debe abarcar 2 columnas */
    }

     .select-container{
        grid-column: span 2;
    }
}





.aurora-background2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.shape-11 {
    background: #3c009f7d;
    width: 18rem;
    height: 15rem;
    top: 18rem;
    left: 50%;
    transform: translateX(-125%);
    opacity: 0.8;
    filter: blur(24px);
}


.shape-22 {
    background: #a400ffa8;
    width: 23rem;
    height: 300px;
    top: 39rem;
    left: 50%;
    transform: translateX(-2%);
    filter: blur(36px);
    opacity: 0.7;
}

.shape-33 {
    background: #cb2bff4d;
    width: 98vw;
    height: 1rem;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.8;
    filter: blur(24px);
}



b,
strong {
    color: #e3e3e3;
    font-family: 'Lato', sans-serif;
}